/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: aquamarine #f3f3f3;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: #5b1059;
    border-radius: 20px ;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #5ad462;
    border-radius: 20px;
    border: 2px solid #5b1059;
  }